/* general features */
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Coda', sans-serif;
    font-weight: 600;
    font-size: 2.5em;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 680px;
    min-height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: center;
    width: 700px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    font-size: 1.5em;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
    float: left;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;

}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

.movesDisplay {

}

#countup {
    width: 40%;
}

/*
 * Styles for the Modals
 */

/*start modal*/

.start {
    display: block;
    z-index: 1;
    position: fixed;
    width: 100%; /* Full width */
    height: 110%; /* Full height */
    overflow: auto;  Enable scroll if needed
    background-color: black; /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    display: flex;
}

.start-content {
    width: 30%;
    min-width: 400px;
    height: 10%;
    cursor: pointer;
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    margin:auto;
    padding: 1%;
    border-radius: 20px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    font-size: 3em;
    text-align: center;
    vertical-align: middle;
    display:flex;
    align-items: center;
    justify-content: center;
}

.hide {
    display: none;
}

/*finish modal*/
.message {
    display: none;
}

.modal{
    display: block;
    z-index: 1;
    position: fixed;
    width: 100%;
    height: 110%;
    background-color: black;
    background-color: rgba(0,0,0,0.4);
    display: flex;
}

.modal-title {
    font-size: 2em;
    margin: 2px;
}

.modal-content {
    font-size: 1.5em;
    background-image: linear-gradient(120deg, #8fd3f4 0%,  #84fab0 100%);
    margin:auto;
    padding: 1%;
    width: 60%;
    height: 40%;
    border-radius: 20px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    text-align: center;
}

.restarto {
    cursor: pointer;
}

/*media queries*/

@media screen and (max-width:700px){
    .score-panel {
        width: 600px;
    }
    .deck{
        width: 580px;
        min-height: 580px;
    }

    .deck .card {
        height: 115px;
        width: 115px;
    }

@media screen and (max-width:600px){
    .score-panel {
        width: 500px;
        font-size: 1em;
    }
    .deck{
        width: 480px;
        min-height: 480px;
    }

    .deck .card {
        height: 95px;
        width: 95px;
    }

    @media screen and (max-width:500px){
    .score-panel {
        width: 400px;
        font-size: 0.75em;
    }
    .deck{
        width: 380px;
        min-height: 380px;
    }

    .deck .card {
        height: 75px;
        width: 75px;
    }

    .deck .card.show {
        font-size: 23px;
    }

    .deck .card.match {
        font-size: 23px;
    }